altgraph==0.15
-e git+https://github.com/django/django.git@9a56b4b13ed92d2d5bb00d6bdb905a73bc5f2f0a#egg=Django
future==0.16.0
macholib==1.9
pefile==2017.11.5
pygame==1.9.3
PyInstaller==3.3.1
pypiwin32==220
pytz==2018.4
